fastapi
uvicorn
python-multipart
psycopg2-binary
redis
mediapipe==0.10.14
opencv-python
numpy
huggingface_hub
Pillow
boto3
replicate
requests

python-jose[cryptography]
insightface
onnxruntime
insightface
onnxruntime
